Data Type and Structure

Theory Questions

Q1. What are data structures, and why are they important?

Ans. Data structures are ways of organizing and storing data in a computer so that they can be accessed and modified efficiently. They define the relationship between the data, and the operations that can be performed on the data.

Q2. Explain the difference between mutable and immutable data types with examples

Ans. Mutable data types allow you to change their values after they are created. This means you can add, remove, or modify elements within the data type whereas Immutable data type dosn't allow to change their value.
Eg: Lists and dictionaries are examples of mutable data types whereas strings and tuples are examples of immutable data types.

Q3. What are the main differences between lists and tuples in Python?

Ans. Lists and tuples both store collections of data, but differ in mutability, performance and memory usage. Lists are mutable, allowing modifications, while tuples are immutable.

Q4. Describe how dictionaries store data

Ans.
Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates.

Q5. Why might you use a set instead of a list in Python?

Ans. A set is an unordered collection of unique elements. If you try to add a duplicate, it will be ignored. Lists, on the other hand, allow duplicate elements so set is use instead of list in python.

Q6.  What is a string in Python, and how is it different from a list?

Ans. A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything an integer, a float, a string, etc.
String is immutable whereas list is mutable data type.

Q7. How do tuples ensure data integrity in python?

Ans. Python tuples provide an immutable, ordered sequence type that excels at storing related data. Unlike lists, tuples maintain data integrity by preventing modifications after creation, making them ideal for representing fixed collections

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index into an array, where the value is stored.
dictionaries are implemented using hash tables. When you create a dictionary, Python internally sets up a hash table to store the key-value pairs.

Q9. Can lists contain different data types in Python?

Ans. Yes, lists in Python can contain elements of different data types. This means you can create a single list that holds integers, floats, strings, booleans, and even other lists, tuples, or dictionaries

Q10.  Explain why strings are immutable in Python

Ans. Strings are immutable, meaning their value cannot be altered after creation. Instead of modifying the existing string, operations that appear to change it actually create a new string object.

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Dictionaries in Python offer fast data retrieval unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

Q12.  Describe a scenario where using a tuple would be preferable over a list.

Ans.Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently.  Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant so tuplev is used preferable over a list.

Q13. How do sets handle duplicate values in Python?

Ans. Sets are designed to store only unique elementsand are unodered. When you attempt to add a duplicate value to a set, it will be ignored, and the set will remain unchanged. This behavior ensures that a set always contains a collection of distinct items, effectively removing duplicates.

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans. The in operator in Python checks if a specified value exists within a sequence, such as a list, tuple, or string. In Python, the in keyword also helps iterate over sequences in for loops i.e in link.

Q15. Can you modify the elements of a tuple? Explain why or why not?

Ans. No, you cannot directly modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed. If you try to modify a tuple, it will throw a TypeError.

Q16. What is a nested dictionary, and give an example of its use case?

Ans.  a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.
Example: Consider representing student data in a Python dictionary. You could use a nested dictionary to organize information about students, including their name, course enrollment, and grades.

Q17.  Describe the time complexity of accessing elements in a dictionary.

Ans. The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup

Q18.  In what situations are lists preferred over dictionaries?

Ans. Lists are faster for index-based access as retrieving an element by index takes O(1), whereas dictionary lookups require computing a hash. Dictionaries require more memory, as they store keys along with values, unlike lists.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. A dictionary is considered an unordered collection because the order in which key-value pairs are added to the dictionary does not affect how they are stored or accessed. Dictionaries primarily rely on keys for retrieval, not the order of insertion.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. In terms of data retrieval, a dictionary (or hash map) offers significantly faster lookup times than a list (or array). Dictionaries use keys for access, allowing for near-instant retrieval, while lists rely on indexing, requiring a search through elements.

Practical Questions

Q1. Write a code to create a string with your name and print it.

In [ ]:
string1 = 'Shreya Gandhi'
string1

'Shreya Gandhi'

In [ ]:
type(string1)

str

Q2.  Write a code to find the length of the string "Hello World"

In [ ]:
s1 ="Hello World"

length =len(s1)
print("The Length of the string",s1,"is",length)

The Length of the string Hello World is 11

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

Q4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
text.upper()

'HELLO'

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s = "I like apple"
s.replace("apple", "orange")

'I like orange'

Q6. Write a code to create a list with numbers 1 to 5 and print it

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
a = [1, 2, 3, 4, 5]
a.remove(3)
a.remove(4)
a.remove(5)
a

[1, 2]

Q9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
num = ['a','b','c','d']
num[:2]

['a', 'b']

Q10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [1]:
lst1 = [10, 20, 30, 40, 50]
lst1[::-1]

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [2]:
point = (100, 200, 300)
point

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [3]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [4]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [11]:
animals = ["dog","cat","rabbit"]
index = animals.index("cat")
print(index)

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [12]:
fruits = ['Apple', 'Banana', 'Cherry']
print("Kiwi" in fruits)

False

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [13]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [14]:
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [15]:
a = {1, 2, 3, 4}
a.remove(4)
a

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [17]:
a = {1, 2, 3}
b = {3, 4, 5}
numbers = a.union(b)
print(numbers)

{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [18]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection = set1.intersection(set2)

print(intersection)

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [19]:
d = {'name': 'Shreya', 'age': 25, 'city': 'Mumbai'}

a = list(d.keys())

print(a)

['name', 'age', 'city']

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [20]:
a = {"name": "John", "age": 25}
a["city"] = "USA"

print(a)

{'name': 'John', 'age': 25, 'city': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [22]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Wonderland'}
print("name:", my_dict['name'])

name: Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [23]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [24]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.

Q28.  Write a code to create a list with strings and print the element at the third index.

In [29]:
a = ["Shreya", "Tejal", "Tanika","Mangala"]
print('a[2] =', a[2])

a[2] = Tanika

Q29. Write a code to combine two dictionaries into one and print the result.

In [31]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30.  Write a code to convert a list of strings into a set.

In [33]:
string_list = ["apple", "banana", "apple", "orange", "banana"]
string_set = (string_list)
print(string_set)

['apple', 'banana', 'apple', 'orange', 'banana']